{% extends "base.html" %} 
{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4 text-white">My Workout Plans</h1>
    <table class="table table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Exercise</th>
            <th>Sets</th>
            <th>Reps</th>
            <th>Day of Week</th>
        </tr>
        </thead>
        <tbody>
        {% for plan in workout_plans %}
        <tr class="text-white bg-dark">
            <td>{{ plan.exercise.name }}</td>
            <td>{{ plan.sets }}</td>
            <td>{{ plan.reps }}</td>
            <td>{{ plan.day_of_week }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
