{% extends "base.html" %}
{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4 text-white">Measurement List</h1>
    
   
    <!-- Measurements Table -->
    <table class="table table-striped table-bordered table-hover">
        <thead class="thead-dark">
            <tr class="text-white">
                <th>Date</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Bicep</th>
                <th>Forearm</th>
                <th>Shoulder</th>
                <th>Chest</th>
                <th>Waist</th>
                <th>Thigh</th>
                <th>Calf</th>
                <th>BMI</th>
            </tr>
        </thead>
        <tbody id="measurementTableBody">
            {% for measurement in measurements %}
            <tr class="text-white bg-dark">
                <td>{{ measurement.date_recorded }}</td>
                <td>{{ measurement.height }}</td>
                <td>{{ measurement.weight }}</td>
                <td>{{ measurement.bicep }}</td>
                <td>{{ measurement.forearm }}</td>
                <td>{{ measurement.shoulder }}</td>
                <td>{{ measurement.chest }}</td>
                <td>{{ measurement.waist }}</td>
                <td>{{ measurement.thigh }}</td>
                <td>{{ measurement.calf }}</td>
                <td>{{ measurement.bmi }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <!-- Chart Visualization -->
    <div class="mt-5 bg-white">
        <h2 class="text-center text-white">Measurement Trends</h2>
        <canvas id="measurementChart"></canvas>
    </div>
    
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  
    // Data Visualization with Chart.js
    var ctx = document.getElementById('measurementChart').getContext('2d');
    var measurementChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for measurement in measurements %}'{{ measurement.date_recorded }}',{% endfor %}],
            datasets: [{
                label: 'Weight',
                data: [{% for measurement in measurements %}{{ measurement.weight }},{% endfor %}],
                borderColor: 'rgba(75, 192, 192, 1)',
                fill: false
            },
            {
                label: 'BMI',
                data: [{% for measurement in measurements %}{{ measurement.bmi }},{% endfor %}],
                borderColor: 'rgba(255, 99, 132, 1)',
                fill: false
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: 'Measurement Trends Over Time'
                }
            }
        }
    });
</script>

{% endblock %}
