<!-- select_package.html -->
{% extends "base.html" %}

{% block content %}
<h1 style="color: #f9f6f6; font-family: Arial, sans-serif;">Plan List</h1>
<ul style="list-style-type: none; padding: 0;">
    {% for plan in plans %}
        <li style="background-color: #fff; margin: 10px 0; padding: 15px; border-radius: 5px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); transition: transform 0.2s;">
            <span style="font-weight: bold; color: #007BFF;">{{ plan.name }}</span> - 
            <span style="color: #28a745;">{{ plan.price }}</span> - 
            <span style="color: #6c757d;">{{ plan.duration }} Months</span>
        </li>
    {% endfor %}
</ul>
{% endblock %}




