{% extends "base.html" %} {% block content %}
<style>
  .white-text {
    color: white;
  }
  .half-opacity-bg {
    background-color:black; /* black background with 50% opacity */
  }
</style>
<div class="container half-opacity-bg">
  <div class="row justify-content-center">
    <div class="col-12 text-center mt-4 mb-3">
      <button
        type="button"
        class="btn btn-success white-text"
        onclick="window.location.href = '/add_trainer/'"
      >
        Register New Trainer
      </button>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-12">
      <h2 class="white-text">Trainers List</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col" class="white-text">Name</th>
            <th scope="col" class="white-text">Age</th>
            <th scope="col" class="white-text">Sex</th>
            <th scope="col" class="white-text">Email</th>
            <th scope="col" class="white-text">Mobile</th>
            <th scope="col" class="white-text">Hired date</th>
            <th class="text-nowrap white-text">Login Access</th>
            <th scope="col" class="white-text">Edit</th>
            <th scope="col" class="white-text">Delete</th>
          </tr>
        </thead>
        <tbody>
          {% for trainer in trainers %}
          <tr>
            <td class="text-nowrap white-text">
              {{trainer.first_name}} {{trainer.last_name}}
            </td>
            <td class="white-text">{{trainer.age}}</td>
            <td class="white-text">{{trainer.sex}}</td>
            <td class="white-text">{{trainer.email}}</td>
            <td class="white-text">{{trainer.mobile_number}}</td>
            <td class="text-nowrap white-text">{{trainer.hire_date}}</td>
            <td class="text-nowrap">
              <a href="{% url 'approve_trainer' trainer.id %}">
                <button {% if trainer.user.is_active %}disabled{% endif %} class="white-text btn btn-info half-opacity-bg">
                  {% if trainer.user.is_active %} Approved 
                  {% else %} Approve
                  {% endif %}
                </button>
              </a>
              <a href="{% url 'disapprove_trainer' trainer.id %}">
                <button {% if not trainer.user.is_active %}disabled{% endif %} class="white-text btn btn-secondary half-opacity-bg">
                  {% if trainer.user.is_active %} Disapprove {% else %} Disapproved {% endif %}
                </button>
              </a>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-primary white-text half-opacity-bg"
                onclick="fn_ConfirmEdit('/edit_trainer/{{trainer.id}}')"
              >
                Edit
              </button>
            </td>
            <td>
              <button
                type="button"
                class="btn btn-danger white-text half-opacity-bg"
                onclick="fn_ConfirmDelete('/delete_trainer/{{trainer.id}}')"
              >
                Delete
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  function fn_ConfirmDelete(url) {
    if (confirm("Do you want to delete Trainer?")) {
      window.location.href = url;
    }
  }
  function fn_ConfirmEdit(url) {
    if (confirm("Do you want to edit Trainer?")) {
      window.location.href = url;
    }
  }
</script>

{% endblock %}
