<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %} INVICTUS FITNESS STUDIO {% endblock %}</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <style>
      body {
        background-image: url("{% static 'images/gympic1.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
      }
    </style>
  </head>
  <body>
    <div class="header">
      <a href="{% url 'home' %}">
        <img
          src="{% static 'images/gms_logo.png' %}"
          alt="Logo"
        />
      </a>
      <div class="center">INVICTUS FITNESS STUDIO</div>
      <div class="text-white mr-5">{{user.username}}</div>
      <a href="/" class="text-white">Logout</a>
    </div>

    <div class="sidebar mt-5" id="sidebar" style="z-index: 999;  overflow-y: auto;">
     
      {% if user.is_staff %}
          <a href="{% url 'register' %}">Member Registration</a>
          <a href="{% url 'members_list' %}">Members List</a>
          <a href="{% url 'select_plan' %}">Select Membership</a>
          <a href="{% url 'payment_list_all' %}">Payment list</a>
          <a href="{% url 'create_workout_plan' %}">Workout Plan</a>
          <a href="{% url 'create_diet_plan' %}">Create Diet Plan</a>
          <a href="{% url 'members_about_to_expire' %}">List of members about to expire</a>
      {% endif %}
      {% if user.is_superuser %}
          <a href="{% url 'add_trainer' %}">Trainer Registration</a>
          <a href="{% url 'trainers_list' %}">Trainers List</a>
          <a href="{% url 'create_plan' %}">Create Membership Package</a>
          <a href="{% url 'plan_list' %}">Membership Packages List</a>
          <a href="{% url 'select_plan' %}">Select Membership</a>
          <a href="{% url 'payment_list_all' %}">Payment list</a>
          <a href="{% url 'exercise_create' %}">Add Exercise</a>
          <a href="{% url 'exercise_list' %}">Exercise List</a>
          <a href="{% url 'ingredient_create' %}">Add Ingredient</a>
          <a href="{% url 'ingredient_list' %}">Ingredient List</a>
          <a href="{% url 'members_about_to_expire' %}">List of members about to expire</a>
      {% endif %}
      {% if not user.is_staff %}
          <a href="{% url 'mark_attendance' %}">Mark Attendance</a>
          <a href="{% url 'attendance_stats' %}">Attendance stats</a>
          <a href="{% url 'add_measurement' %}">Track Measurements</a>
          <a href="{% url 'measurement_list' %}">View Measurements</a>
          <a href="{% url 'workout_plan_list' %}">Workout List</a>
          <a href="{% url 'diet_plan_list' %}">Diet Plan List</a>
          <a href="{% url 'payment_list' %}">Payment list</a>
      {% endif %}
  </div>
  

    <div class="content" id="content">
      <button
        class="btn btn-secondary"
        id="sidebarCollapse"
        style="margin-top: 60px"
      >
        Menu
      </button>
      {% block content %} {% endblock %}
    </div>

    <script>
      $(document).ready(function () {
        $("#sidebarCollapse").on("click", function () {
          $("#sidebar").toggleClass("active");
          $("#content").toggleClass("active");
        });
      });
    </script>
  </body>
</html>
