{% extends "base.html" %} {% block content %}
<h1 class="text-white text-center">Welcome {{ user.username }}</h1>
{% if user.is_superuser %}
<div class="container mt-5">
  <h1 class="mb-5 text-white text-center" style="color: white;-webkit-text-stroke: 1px black;">Statistics</h1>
  <div class="list-group">
    <a class="btn btn-info mb-3" href="{% url 'attendance_totalstats_today' %}"
      >Total Attendance Count - Today</a
    >
    <a class="btn btn-info mb-3" href="{% url 'attendance_totalstats' %}"
      >Total Attendance Count - Current Month</a
    >
    <a class="btn btn-info mb-3" href="{% url 'total_members_count' %}"
      >Total Members Count</a
    >
    <a class="btn btn-info mb-3" href="{% url 'gender_count' %}"
      >Total Gender Count</a
    >
    <a class="btn btn-info mb-3" href="{% url 'total_trainers_count' %}"
      >Total Trainers Count</a
    >
    <a class="btn btn-info mb-3" href="{% url 'total_active_members' %}"
      >Total Active Members</a
    >
    <a class="btn btn-info mb-3" href="{% url 'total_expired_memberships' %}"
      >Total Expired Memberships</a
    >
  </div>
</div>

{% endif %} {% endblock %}
